{% extends "base.html" %}
{% block content %}
    <div class="flex flex-col items-center my-4 gap-4">
        <div class="flex items-center gap-10">
            <h1 class="text-center my-4 font-bold text-3xl">Courses in Cart</h1>
            {% if cart|length > 0 %}
                <button hx-target="body"
                        hx-post="{% url 'core:cart' %}"
                        hx-vals='{"operation": "checkout"}'
                        class="btn btn-primary">
                    Checkout
                    <i data-feather="shopping-cart"></i>
                </button>
            {% endif %}
        </div>
        <div id="cart-courses">
            {% block courses %}
                <div>
                    {% if cart|length == 0 %}
                        <div class="chat chat-start">
                            <div class="chat-bubble chat-bubble-primary">You have no courses in your cart:(</div>
                        </div>
                        <div class="chat chat-end">
                            <div class="chat-bubble chat-bubble-secondary">
                                Ok I'll go and add your wonderful courses to the cart and come back.
                            </div>
                        </div>
                        <div class="chat chat-start">
                            <div class="chat-bubble chat-bubble-primary">I'll miss you when you're gone</div>
                        </div>
                    {% endif %}
                    {% for course in cart %}
                        <div class="card w-96 bg-base-100 shadow-xl"
                             id="course-{{ forloop.counter }}">
                            <figure>
                                {% if course.thumbnail %}<img src=" {{ course.thumbnail.url }} " alt="Course Picture" />{% endif %}
                            </figure>
                            <div class="card-body">
                                <h2 class="card-title">{{ course.title }}</h2>
                                <p>{{ course.short_description }}</p>
                                <div class="flex items-center">
                                    <i data-feather="dollar-sign" class="w-4"></i>
                                    <span>{{ course.price }}</span>
                                </div>
                                <div class="card-actions justify-end">
                                    <button hx-delete="{% url 'core:cart' %}"
                                            hx-target="#cart-courses"
                                            hx-vals='{"course_id": "{{ course.id }}" }'
                                            hx-swap="innerHTML"
                                            class="btn btn-accent">
                                        Remove from Cart
                                        <i data-feather="trash-2"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endblock courses %}
        </div>
    </div>
{% endblock content %}
