{% extends "base.html" %}
{% load static %}
{% load core_filters %}
{% block statics %}
    <link href="{% static "core/home.css" %}" rel="stylesheet">
{% endblock statics %}
{% block content %}
    <div class="flex items-center my-8 gap-4 px-8">
        <h1 class="text-3xl font-bold text-center text-primary-content flex-1">
            Your Courses
        </h1>
        <a class="btn btn-primary self-center" href="{% url 'core:course_create' %}">
            <i data-feather="plus"></i>
            Create Course
        </a>
    </div>
    <main id="main-course-list"
          class="m-4 md:m-8 flex flex-wrap lg:grid lg:grid-cols-4 gap-4"
          hx-get="{% url 'core:my_courses' %}"
          hx-swap="innerHTML"
          hx-trigger="load"
          hx-indicator=".course-skeleton"
          >
        {% block course_list %}
            {% for i in 8|times %}
                <div id="#course-skeleton-{{ i }}"
                     hx-preserve
                     class="card w-96 bg-base-100 shadow-xl py-4 app-indicator course-skeleton">
                    <figure>
                        <div class="skeleton h-32 w-28"></div>
                    </figure>
                    <div class="card-body">
                        <div class="skeleton h-4 w-36"></div>
                        <div class="skeleton h-4 w-20 mt-2"></div>
                        <div class="skeleton h-4 w-full mt-10"></div>
                        <div class="skeleton h-4 w-full "></div>
                        <div class="skeleton h-4 w-full "></div>
                        <div class="skeleton h-4 w-full "></div>
                        <div class="flex justify-between mt-10">
                            <div class="skeleton h-2 w-28"></div>
                            <div class="skeleton h-2 w-28"></div>
                        </div>
                        <div class="skeleton h-2 w-28 mt-2"></div>
                        <div class="card-actions justify-end">
                            <div class="skeleton h-8 w-28"></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% for course in courses %}
                {% include "partials/course.html" with is_creator=is_creator %}
            {% endfor %}
        {% endblock course_list %}
    </main>
{% endblock content %}
