{% extends "base.html" %}
{% load static %}
{% block statics %}
    <link href="{% static "core/home.css" %}" rel="stylesheet">
{% endblock statics %}
{% block content %}
    <h1 class="text-3xl font-bold text-center text-primary-content my-8">
        Welcome {{ user.first_name }} {{ user.last_name }}, enjoy your courses
    </h1>
    <main class="m-8 flex flex-wrap gap-4">
        {% for course in courses %}
            {% include "partials/course.html" %}
        {% endfor %}
    </main>
{% endblock content %}
