{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="cupcake" class="h-full w-full">
    <head>
        <base href="" />
        <meta charset="utf-8" />
        <title>
            {% block title %}
                Udemy Clone
            {% endblock title %}
        </title>
        <meta name="description" content="Source Platform" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link href="{% static "core/ui.css" %}" rel="stylesheet" />
        <script src="https://unpkg.com/htmx.org@1.9.12" defer></script>
        <script defer
                src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        {% block statics %}
        {% endblock statics %}
    </head>
    <body class="h-full w-full">
        {% include "navbar.html" %}
        {% if messages %}
            <div class="toast toast-top toast-end fade-in-fade-out">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} mb-4">
                        <span>{{ message }}</span>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% block content %}
        {% endblock content %}
    </body>
</html>
