{% extends "base.html" %}
{% load core_filters %}
{% load static %}
{% block statics %}
    <link href="{% static "core/home.css" %}" rel="stylesheet">
{% endblock statics %}
{% block content %}
    <h1 class="text-3xl font-bold text-center text-primary-content my-8">
        Here are some of our course offerings
    </h1>
    <main id="main-course-list"
          class="m-4 md:m-8 flex flex-wrap lg:grid lg:grid-cols-4 gap-4"
          hx-get="{% url 'core:course_list' %}?{% query_string request.GET %}"
          hx-swap="innerHTML"
          hx-trigger="load"
          hx-indicator=".course-skeleton">
        {% block course_list %}
            {% include "partials/course-list.html" with courses=courses %}
        {% endblock course_list %}
    </main>
{% endblock content %}
