{% load static %}
<div hx-preserve="true" class="navbar bg-base-100">
    <div class="flex-1">
        <a href="{% url 'core:index' %}" class="btn btn-ghost">
            <img src="{% static 'core/logo-udemy.svg' %}"
                 alt=""
                 width="100"
                 height="24">
        </a>
        <div class="dropdown dropdown-hover z-[9999]">
            <div x-data="{open: false}"
                 @click="if (open) { $el.blur(); } open = !open"
                 tabIndex="0"
                 role="button"
                 class="mx-7 text-primary-content">
                <span>Categories</span>
            </div>
            <ul tabIndex="0"
                class="dropdown-content menu p-2 shadow bg-base-100 w-52 text-black z-50">
                <li>
                    <button hx-get="{% url 'core:course_list' %}"
                            hx-target="#main-course-list"
                            hx-push-url="true"
                            hx-indicator="#main-course-list">All</button>
                </li>
                {% for category in course_categories %}
                    <li>
                        {% if request.path == "/" %}
                            <button hx-get="{% url 'core:course_list' %}?category={{ category.id }}"
                                    hx-target="#main-course-list"
                                    hx-indicator="#main-course-list"
                                    hx-push-url="true">
                                {{ category.name }}
                            </button>
                        {% else %}
                            <a href="{% url 'core:index' %}?category={{ category.id }}">{{ category.name }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <label class="input input-bordered flex items-center gap-2">
        <input hx-get="{% url 'core:course_list' %}"
               hx-push-url="true"
               hx-indicator="#main-course-list"
               hx-target="#main-course-list"
               hx-trigger="input changed delay:500ms, search"
               name="title"
               type="text"
               class="grow"
               placeholder="Search" 
               value="{{ request.GET.title }}"
               />
        <svg xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 16 16"
             fill="currentColor"
             class="w-4 h-4 opacity-70">
            <path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" />
        </svg>
    </label>
    <div class="flex-none">
        {% include "partials/nav-cart-dropdown.html" with cart=cart %}
        <div class="dropdown dropdown-end">
            <div x-data="{open: false}"
                 @click="if (open) { $el.blur(); } open = !open"
                 tabindex="0"
                 role="button"
                 class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full">
                    <img alt="Tailwind CSS Navbar component" src="{% static "img/default-user-img.jpg" %}" />
                </div>
            </div>
            <ul tabindex="0"
                class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                <li>
                    <a>Profile</a>
                </li>
                <li>
                    <a href="{% url 'core:my_courses' %}">My Courses</a>
                </li>
                <li>
                    <a href="{% url 'core:user_courses' %}">Bought Courses</a>
                </li>
                <li>
                    <a>Settings</a>
                </li>
                <li>
                    <button hx-post="{% url 'logout' %}" hx-target="body" hx-push-url="true">
                        Logout
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>

<p class="flex">

</p>
