{% load core_filters %}

{% for course in courses %}
    {% if forloop.last %}
        {% include "partials/course.html" with last=True %}
    {% else %}
        {% include "partials/course.html" %}
    {% endif %}
{% endfor %}
{% for i in 8|times %}
    <div id="#course-skeleton-{{ i }}"
         hx-preserve
         class="card w-96 bg-base-100 shadow-xl py-4 app-indicator course-skeleton">
        <figure>
            <div class="skeleton h-32 w-28"></div>
        </figure>
        <div class="card-body">
            <div class="skeleton h-4 w-36"></div>
            <div class="skeleton h-4 w-20 mt-2"></div>
            <div class="skeleton h-4 w-full mt-10"></div>
            <div class="skeleton h-4 w-full "></div>
            <div class="skeleton h-4 w-full "></div>
            <div class="skeleton h-4 w-full "></div>
            <div class="flex justify-between mt-10">
                <div class="skeleton h-2 w-28"></div>
                <div class="skeleton h-2 w-28"></div>
            </div>
            <div class="skeleton h-2 w-28 mt-2"></div>
            <div class="card-actions justify-end">
                <div class="skeleton h-8 w-28"></div>
            </div>
        </div>
    </div>
{% endfor %}
